/coverage
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/storage/api-docs/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
!/docker/.env
_ide_helper.php
_ide_helper_models.php

.wakatime-project
.phpunit.result.cache
